<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Sección inicial con fondo negro y wave -->
    <section class="about-container">
        <div class="about-header">
            <h2>Información del desarrollador</h2>
            <!-- <p>Innovando en cada línea de código. </p> --> <br>
            <p> Estudiante de Ingeniería en Desarrollo de Software</p>
            <p> Soy José María Alcantar Merino</p>
            <p> Estudio en la Universidad Tecnológica de San Juan del Río</p>
            <p> Grupo DS03SV-24</p>


        </div>
    </section>
    
    <section class="details-container">
        <div class="card">
            <h3>📩 Contacto</h3>
    <ul>
        <li><strong>Correo electrónico:</strong> "joseam.ti22utsjr.edu.mx"</li>
        <li><strong>Teléfono:</strong> +52 447093170</li>
    </ul>
  

        </div>
    </section>
</body>

</html>